MONGO_CONNECTION=mongodb+srv://lunion-su:tCjZWJ1ESTQGPHRC@lunioncluster.cdp1y.gcp.mongodb.net/lunionstats?retryWrites=true&w=majority
PORT=3000
JWT_SECRET=rTBZca~nQ$pmfGY?bGtbrIQyqhlg!
JWT_EXP=3h
RIOT_API_KEY=RGAPI-20dd4fea-ba54-4c89-9a87-28b9bbf84bad

GOOGLE_CLIENT_SECRET=PExiF97C8uxD-IZXXhuyodw1
GOOGLE_CLIENT_ID=875761648832-mte09edqaolkrsssal49m1d858c9rgad.apps.googleusercontent.com